<header class="navbar">
  <a href="index.html" class="navbar__brand">
    ⚡ B3RM3LL0N
  </a>
  
  <button class="btn btn-ghost" data-nav-toggle style="display: none;">
    ☰ Menú
  </button>

  <nav class="navbar__menu">
    <ul class="navbar__menu" style="list-style: none;">
      <li class="navbar__item">
        <a href="index.html" class="navbar__link" data-nav-link>Inicio</a>
      </li>
      <li class="navbar__item">
        <a href="blog.html" class="navbar__link" data-nav-link>Blog</a>
      </li>
      <li class="navbar__item">
        <a href="paths.html" class="navbar__link" data-nav-link>Paths</a>
      </li>
      <li class="navbar__item">
        <a href="https://github.com/B3rm3ll0n" target="_blank" class="navbar__link">GitHub</a>
      </li>
    </ul>
  </nav>
</header>